#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div{margin-bottom:30px;}

.bg-green{background:green; color:#fff;}
.bg-red{background:red; color:#fff;}
.bg-yellow{background:yellow}